.footer {
    background: color(neutral-footer-background);
    border-radius: 0 $border-radius 0 0;
    display: flex;
    justify-content: center;
    padding: 4em $padding;

    .footer__content--container {
        width: 100%;
        max-width: $max-width;
        // outline: solid red 1px;

        .footer__content--wrap {
            // outline: solid yellow 2px;
            width: 85%;
            display: flex;
            justify-content: space-between;

            @include mobileSize {
                flex-direction: column;
                width: 100%;
            }

            .footer__links--wrap {
                display: flex;
                flex-direction: column;
                // outline: solid white 1px;

                @include mobileSize {
                    align-items: center;
                }

                .footer__h4 {
                    margin-bottom: 1.75em;
                    font-size: rem(18px);
                    color: color(neutral-white);

                    @include mobileSize {
                        margin-top: 3em;
                    }
                }

                .footer__links {
                    color: color(neutral-footer-text);
                    font-weight: fontWeight(regular);

                    &:hover {
                        text-decoration: underline;
                    }

                    & + .footer__links {
                        margin-top: 1em;
                    }
                }
            }
        }
    }
}
