// this holds the header/nav + the call to action section.
.intro--container {
    @include background-Gradient-Red;
    // height: rem(550px);
    border-radius: 0px 0px 0px $border-radius;
    display: flex;
    flex-direction: column;
    height: 600px;

    @include mobileSize {
        @include background-Gradient-Red-Mobile;
        height: unset;
        padding: 2em 0 10em 0;
    }
}

.header {
    padding: 4em $padding 0 $padding;
    display: flex;
    justify-content: center;

    @include mobileSize {
        padding: $padding;
    }

    .nav {
        max-width: $max-width;
        width: 100%;

        .menu--wrap {
            display: flex;
            align-items: center;
            position: relative;

            @include mobileSize {
                justify-content: space-between;
                flex-wrap: wrap;
            }

            .logo {
                width: 101px;
                height: 40px;
            }

            #hamburger--btn {
                display: none;
                background: none;
                border: none;
                cursor: pointer;

                @include mobileSize {
                    display: block;
                }

                .hamburger-img.display {
                    display: none;
                }
            }

            #icon-close {
                display: none;

                &.display {
                    display: block;
                }
            }

            // this container holds the dropdown menu buttons and the login / signup links
            .menu--container {
                // margin-left: rem(40px);
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                @include mobileSize {
                    display: none;
                    padding: 0.5em $padding $padding $padding;
                    box-shadow: $box-shadow;

                    &.display {
                        display: flex;
                        flex-direction: column;
                        background: white;
                        border-radius: 5px;
                        position: absolute;
                        top: rem(65px);
                    }
                }

                // this wrap holds the dropdown buttons only
                .menu-buttons--wrap {
                    display: flex;
                    margin-left: rem(55px);

                    @include mobileSize {
                        flex-direction: column;
                        margin-left: 0;
                        width: 100%;
                    }
                    // this li holds the button and the dropdown-content
                    .menu__li {
                        display: flex;
                        position: relative;

                        @include mobileSize {
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }

                        &:hover .menu-button {
                            text-decoration: underline;
                            color: white;

                            @include mobileSize {
                                color: unset;
                                text-decoration: none;
                            }
                        }

                        & + .menu__li {
                            margin-left: 2em;

                            @include mobileSize {
                                margin-left: 0;
                            }
                        }

                        .menu-button {
                            padding: 0.5em 1em 0.5em 0;
                            background: none;
                            border: none;
                            cursor: pointer;
                            text-align: start;
                            color: rgba(255, 255, 255, 0.712);
                            font-weight: 500;

                            @include mobileSize {
                                color: color(primary-very-dark-blue);
                                padding: 1em 0;
                                text-align: center;
                                position: relative;
                                width: auto;

                                &.rotate::after {
                                    transform: rotate(180deg);
                                    bottom: rem(14px);
                                }

                                &.active {
                                    color: hsla(208, 49%, 24%, 0.644);
                                    text-decoration: none;
                                }

                                & + .dropdown-content.display {
                                    display: flex;
                                }
                            }

                            @include desktopSize {
                                & + .dropdown-content.display {
                                    display: flex;
                                }

                                &.rotate::after {
                                    transform: rotate(180deg);
                                    bottom: rem(5px);
                                }
                                &.active {
                                    text-decoration: underline;
                                    color: color(neutral-white);
                                }
                            }

                            &::after {
                                content: url("../images/icon-arrow-light.svg");
                                position: absolute;
                                right: 0px;
                                bottom: rem(10px);

                                @include mobileSize {
                                    content: url("../images/icon-arrow-dark.svg");
                                    bottom: rem(19px);
                                    right: rem(-15px);
                                }
                            }
                        }

                        .dropdown-content {
                            display: none;
                            flex-direction: column;
                            width: 100%;
                            min-width: rem(150px);
                            position: absolute;
                            top: rem(45px);
                            left: rem(-24px);
                            background: white;
                            padding: 0.5em 0 1.5em 0.5em;
                            border-radius: 5px;
                            box-shadow: $box-shadow;

                            @include mobileSize {
                                background: rgb(240, 240, 240);
                                position: unset;
                                text-align: center;
                                padding: $padding;
                                flex-direction: column;
                                min-width: unset;
                                width: 100%;
                                box-shadow: unset;
                            }

                            .dropdown__link {
                                padding: 1em 1em 0 1em;
                                color: color(neutral-footer-background);
                                font-weight: fontWeight(regular);

                                @include mobileSize {
                                    padding: 0 1em;
                                    font-weight: fontWeight(medium);
                                    color: hsla(208, 49%, 24%, 0.644);

                                    & + .dropdown__link {
                                        padding: 1em 1em 0 1em;
                                    }
                                }

                                &:hover {
                                    font-weight: fontWeight(medium);
                                }
                            }

                            // &.display {
                            //     display: flex;
                            // }
                        }
                    }
                }

                // this holds the login / signup links
                .login--wrap {
                    display: flex;
                    align-items: center;

                    @include mobileSize {
                        flex-direction: column;
                        justify-content: center;
                        border-top: solid rgb(233, 233, 233) 2px;
                        width: 100%;
                        padding-top: 1em;
                        margin-top: 1em;
                    }

                    .login__li {
                        & + .login__li {
                            margin-left: 2em;

                            @include mobileSize {
                                margin-left: 0;
                            }
                        }
                    }
                    .signup--btn {
                        // vertical-align: text-bottom;
                        padding: 0.75em 2.25em;

                        @include mobileSize {
                            background: linear-gradient(
                                to right,
                                hsl(355, 100%, 74%),
                                hsl(356, 100%, 66%)
                            );

                            color: color(neutral-white);
                            margin-top: 1em;
                        }
                    }

                    .login--btn {
                        color: color(neutral-white);

                        @include mobileSize {
                            color: color(primary-very-dark-blue);
                        }
                    }
                }
            }
        }
    }
}

.call-to-action--container {
    height: 100%;
    padding: 0 $padding;

    @include flexCenter();
    .call-to-action--wrap {
        // margin-top: 5em;
        margin-bottom: 2em;
        @include flexCenter(column);
        @include mobileSize {
            margin-bottom: 0;
            margin-top: 3.5em;
        }
        .cta__h1 {
            color: color(neutral-white);
            font-size: clamp(rem(34px), 5vw, rem(60px));
            text-align: center;
        }

        .cta__p {
            color: rgba(255, 255, 255, 0.76);
            font-weight: fontWeight(medium);
            font-size: clamp(rem(18px), 2vw, rem(20px));
            text-align: center;
            line-height: unset;
        }

        .cta__link--wrap {
            margin-top: 2em;
            // margin-bottom: 8em;
            display: flex;

            @include mobileSize {
                margin-top: 3em;
            }
        }
    }
}
